---
import Countdown from './Countdown.jsx'
---
<header
  class="fixed top-0 w-full px-6 py-4 z-50 bg-blue-500 text-white"
  style="margin-bottom: -20px;"
>
  <div class="max-w-7xl h-12 mx-auto flex items-center justify-between">
    <div style="margin-top: 60px;">
      <img src="/CANGASCUPLOGO.png" class="w-24 h-auto" />
    </div>
    <div class="flex items-center space-x-8">
      <a href="#" class="text-white hover:text-gray-200">Reglamento</a>
      <a href="#" class="text-white hover:text-gray-200">Resultados</a>
    </div>
    <div class="text-center">
      <Countdown client:load />
    </div>
  </div>
</header>
