<div
  class="absolute w-1/4 bg-white text-slate-500 p-6 border-4 border-slate-500 rounded-xl mt-[-70px]"
  style="margin-left: 535px;"
>
  <h1 class="text-center text-1xl font-bold">
    Próximamente abriremos inscripciones
  </h1>
</div>
