<section class="w-full  relative flex justify-center items-center" style="margin-top: 40px;">
  <video
    class="w-[575px] h-[622.42px] object-cover"
    src="/CangasCupLanding.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 45% 100%, 45% 100%, 0 86%)"
    
  ></video>
  <video
    class="w-[575px] h-[622.42px] absolute -bottom-48 blur-2xl -z-40"
    src="/CangasCupLanding.mp4"
    autoplay
    loop
    muted
    ></video>
  
</section>
