<section class="w-full  relative flex justify-center items-center" style="margin-top: 40px;">
  <video
    class="w-4/5 md:w-3/4 lg:w-2/3 h-3/4 object-cover"
    src="/CangasCupLanding.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 45% 100%, 45% 100%, 0 86%)"
    
  ></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/CangasCupLanding.mp4"
    autoplay
    loop
    muted
    ></video>
</section>
